body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    transform: scale(1.5)
}

.slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

.slide-row {
    display: flex;
    justify-content: space-between;
}

.slide-row img {
    height: 300px; /* Set a fixed height for all images */
    width: 100%; /* Ensure the width is 100% of the container */
    object-fit: contain; /* Maintain aspect ratio without cropping */
    margin: 1%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}